<?xml version="1.0" encoding="utf-8"?>	

<launch>
	<arg name="robot_prefix" default="turtlebot1"/>
	<node pkg="rgb_pcd_kinect_fusion" type="rgb_pcd_kinect_fusion" name="rgb_pcd_kinect_fusion_$(arg robot_prefix)"  output="screen">
		<param name="image_topic" value="/$(arg robot_prefix)/rgb/image_rect_color" />
		<param name="pcl_topic" value="/$(arg robot_prefix)/depth/pcd"/>
		<param name="pcd_color_topic" value="/$(arg robot_prefix)/depth/pcd_colored" />
		<param name="pcd_rect_topic" value="/$(arg robot_prefix)/depth/pcd_rect"/>
		<param name="far_clip" type="double" value="3.5" />
	</node>
</launch>
