<?xml version="1.0" encoding="utf-8"?>

<launch>
    <arg name="robot_prefix" default="turtlebot1"/>
    
	<node name="octomap_$(arg robot_prefix)" pkg="octomap_server" 
type="octomap_server_node" respawn="false" output="screen">
 	<param name = "base_frame_id" value = "/$(arg robot_prefix)/base_link"/>
 	<param name = "resolution" value = "0.075"/>
 	<param name = "sensor_model/hit" value = "0.75"/>
 	<param name = "sensor_model/miss" value = "0.45" />
 	<param name = "sensor_model/min" value = "0.12" />
 	<param name = "sensor_model/max" value = "0.97" />
 	<remap from = "cloud_in" to = "/$(arg robot_prefix)/depth/pcd_rect"/>
 	<remap from = "octomap_point_cloud_centers" to = "/$(arg 
robot_prefix)/octomap"/>

	<remap from = "octomap_binary" to = "/$(arg robot_prefix)/octomap_binary"/>
	<remap from = "octomap_full" to = "/$(arg robot_prefix)/octomap_full"/>
	<remap from = "occupied_cells_vis_array" to = "/$(arg robot_prefix)/occupied_cells_vis_array"/>
	<remap from = "octomap_collision_object" to = "/$(arg robot_prefix)/octomap_collision_object"/>
	<remap from = "collision_map_out" to = "/$(arg robot_prefix)/collision_map_out"/>
	<remap from = "projected_map" to = "/$(arg robot_prefix)/projected_map"/>
	 
	</node> 

</launch>
