<launch>
  <arg name="robot_prefix" value="turtlebot1" />

    <node name="trajectory_error_logger" pkg="odom_logger" type="trajectory_error_logger" respawn="false" output="screen">
        <param name = "traj_err_topic_name" value = "/trajectory_control_action_server_$(arg robot_prefix)/feedback"/>
	<param name = "filename" value = "$(find odom_logger)/data/test.csv"/>
    </node>
</launch>
